/* i'm really bad at css
   if someone could help me that'd be great */
@keyframes back_animate {
    0%{background-color:#555555;}
    100%{background-color:#555555;}
    25%{background-color:#888888;}
    50%{background-color:#BBBBBB;}
    75%{background-color:#888888;}
}
@keyframes flag_animate {
    0%{background-color:#111111;}
    100%{background-color:#111111;}
    25%{background-color:#444444;}
    50%{background-color:#777777;}
    75%{background-color:#444444;}
}
@keyframes reveal_animate {
    0%{border: 4px solid #555555;}
    100%{border: 4px solid #555;}
    25%{border: 4px solid #888;}
    50%{border: 4px solid #BBB;}
    75%{border: 4px solid #888;}
}
#board, td:not(.invis) {
    border: 1px solid black;
    min-width: 25px;
    height: 25px;
    text-align: center;
}
.c1 {
    color: blue;
}
.c2 {
    color: green;
}
.c3 {
    color: red;
}
.c4 {
    color: purple;
}
.c5 {
    color: maroon;
}
.c6 {
    color: turquoise;
}
.c7 {
    color: black;
}
.c8 {
    color: #929191;
}
.flag {
    background-color: #303030;
    color: white;
}
.empty {
    background-color: #999999;
    color: black;
}
.selected.empty {
    animation: back_animate 2s infinite linear;
}
.selected.flag {
    animation: flag_animate 2s infinite linear;
}
.selected.revealed {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    animation: reveal_animate 2s infinite linear;
}
.best {
    background-color: yellow;
    color: black;
}
.mine {
    background-color: red;
    color: red;
}
.pmar {
    margin-top: 3px;
    margin-bottom: 3px;
}
#message {
    font-size: 30px;
    display: none;
    margin-top: 10px;
}
#besttimes {
    margin-left: 70px;
    margin-top: 70px;
    overflow-wrap: break-word;
    width: 50px;
}
body {
    display: inline-block;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
.bspan {
    display: inline-block;
    min-width: 50px;
}
#heck {
    margin-top: 10px;
}
.starthide {
    margin-left: auto;
    margin-right: auto;
}
#leftT {
    min-width: 50px;
    visibility: hidden;
}
